/* style.css */

body {
  font-family: "Poppins", sans-serif;
  background: #E2BA79;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: #FFFFFF;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #5a67d8;
  box-shadow: 0 0 5px rgba(90, 103, 216, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #C98961;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #434190;
}
